@media (max-width: 1200px) {
    #root {
        max-width: 1024px;
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .live-search {
        width: 100%;
    }

    .toggle-edit-mode {
        margin-top: 35px;
    }

    .cards-list {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .cards-list__card {
        flex: 0 0 25%;
    }

    .textarea-container::before {
        left: 215px;
    }
}

@media (max-width: 1024px) {
    #root {
        max-width: 718px;
    }

    .cards-list {
        width: 99.99%;
    }

    .cards-list__card {
        flex: 0 0 33.46%;
    }

    .textarea-container {
        width: 100%;
    }

    .textarea-container::before {
        left: 329px;
    }
}

@media (max-width: 768px) {
    #root {
        max-width: 526px;
    }

    .cards-list {
        width: 100%;
    }

    .cards-list__card {
        flex: 0 0 100%;
    }

    .textarea-container::before {
        left: 232px;
    }
}

@media (max-width: 576px) {
    #root { 
        max-width: 375px;
    }

    .textarea-container::before {
        left: 156px;
    }
}

@media (max-width: 425px) {
    #root {
        max-width: 325px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .textarea-container::before {
        left: 131px;
    }
}

@media (max-width: 375px) {
    #root {
        max-width: 270px;
    }
    .textarea-container::before {
        left: 104px;
    }
}